@charset "utf-8";
.header {
    /*height: 290px;*/
    border: 1px solid whitesmoke;
}
body {
}
.logo {
    width: 1200px;
    margin: 0px auto;
    /*border: 1px solid blue;*/
    height: 110px;
}
.logo_img img {
    width:600px;
    height:110px;
}

.logo_info {
    position: relative;
    /*border: 1px solid firebrick;*/
    width: 600px;
    height: 180px;
    right: -600px;
    top: -180px;

}
.logo_info img {
    width: 110px;
    height: 110px;
    position: absolute;
    margin-top: 110px;
    margin-left: 420px;
}
.header_nav {
    width: 1200px;
    height: 100px;
    margin: 15px auto 0px auto;
    border: 1px solid darkturquoise;
}
.header_nav ul {
    margin-top: 50px;
    margin-left: 146px;
}
.header_nav li {
    margin-right: 15px;
}
.nav_btn {
    float: right;
    margin-top: -40px;
    padding-right: 15px;
}
.nav_btn a {
    margin-right: 80px;
}

form{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid darkblue;
}
form strong {
    font-size: 18px;
}
form input{
    font-size: 18px;
    float: right;
}

.umeditor {
    width: 970px;
    /*border: 1px solid teal;*/
}