@charset "utf-8";
.header {
    /*height: 290px;*/
    border: 1px solid whitesmoke;
}
body {
}
.logo {
    width: 1200px;
    margin: 0px auto;
    /*border: 1px solid blue;*/
    height: 110px;
}
.logo_img img {
    width: 350px;
    height:110px;
}

.logo_info {
    position: relative;
    /*border: 1px solid firebrick;*/
    width: 600px;
    height: 180px;
    right: -600px;
    top: -180px;

}
.logo_info img {
    width: 110px;
    height: 110px;
    position: absolute;
    margin-top: 110px;
    margin-left: 420px;
}
.header_nav {
    width: 1200px;
    height: 100px;
    margin: 15px auto 0px auto;
    border: 1px solid darkturquoise;
}
.header_nav ul {
    margin-top: 50px;
    margin-left: 146px;
}
.header_nav li {
    margin-right: 15px;
}
.nav_btn {
    float: right;
    margin-top: -40px;
    padding-right: 15px;
}
.nav_btn a {
    margin-right: 10px;
}


.article_topic {
    width: 1200px;
    height: 50px;
    margin: 0px auto;
    line-height: 50px;
    border: 1px solid steelblue;
    font-size: 25px;
    padding-left: 150px;
    color: #2aabd2;
}
.article_topic a {
    float: right;
    margin: 8px 25px 8px;
}
.box {
    width: 1000px;
    margin:10px auto 10px auto;
    min-height: 250px;
    clear: both;
}
.user_info {
    width: 200px;
    height: 220px;
    border: 1px solid green;
    margin-left: 50px;
    padding: 10px;
    float: left;
    /*background-color: ghostwhite;*/
}
.user_info img {
    width: 110px;
    height: 110px;
    margin-left: 30px;
}
.user_info h5 {
    color: forestgreen;
    font-size: 18px;
}
.user_info h5 a {
    text-decoration: none;
}

.user_info p {
    font-size: 15px;
    color: red;
}
.user_info p, .user_info h5{
    margin-left: 40px;
    margin-top: 10px;
}
.message {
    float: right;
    min-height: 220px;
    width: 730px;
    border: 1px solid mediumaquamarine;
}
.msg_header {
    height: 35px;
    border: 1px solid teal;
    line-height: 35px;
    padding-left: 15px;
}
.time {
    margin-left: 230px;
}
.ref_msg {
    padding: 10px;
    border: 1px solid darkturquoise;
    width: 680px;
    margin:0 auto;
}
.msg_content {
    min-height: 150px;
}
.msg_content p {
    padding: 10px;
}
.msg_footer {
    height: 35px;
    border: 1px solid teal;
}
.msg_footer a{
    float: right;
    margin-left: 10px;
}

.umeditor {
    width: 1000px;
    /*border: 1px solid teal;*/
    margin: 20px auto;
    clear: both;
    padding-left: 45px;
}
.umeditor form{
    float: right;
}
.umeditor form input {
    float: right;
}


.footer {
    width: 1200px;
    margin: 40px auto;
}
.footer_main {
    width: 60%;
    color: black;
    float: left;
    margin-top: 20px;
}
.footer_main p {
    font-size: 15px;
    margin-top: 15px;
    padding-left: 130px;
    text-indent: 50px;
}
.footer_right {
    float: right;
    width: 40%;
    padding-right: 80px;
    padding-top: 40px;
}
.footer_right ul{
    float: right;
    margin-right: 15px;
}
.footer ul {
    list-style-type: none;
}