<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--开启二级缓存-->
    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!-- 配置别名，直接为整个包配置别名 -->
    <typeAliases>
        <package name="cn.jsbintask.bbs.po"/>
    </typeAliases>

</configuration>
