<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>bbs</display-name>
    <!--配置一个首页-->
    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/article/index.html</welcome-file>
    </welcome-file-list>

    <!--配置一个参数-->
    <context-param>
        <param-name>path</param-name>
        <param-value>E:/WorkSpaces/Idea workspace/jsbintask-bbs/bbs_imgs/heads</param-value>
    </context-param>

    <context-param>
        <param-name>pageSize</param-name>
        <param-value>10</param-value>
    </context-param>



    <!-- 配置监听器，启动所有配置文件 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:config/spring/applicationContext-*.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- 配置过滤器防止乱码 -->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--配置一个servlet，拦截所有的请求 -->
    <servlet>
        <servlet-name>SpringMVC</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:config/spring/springmvc.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpringMVC</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!--配置一个首页-->
    <!--<servlet-mapping>
        <servlet-name>SpringMVC</servlet-name>
        <url-pattern>/topic/all</url-pattern>
    </servlet-mapping>-->
    
    <!--配置一个404的页面 -->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/article/404.htm</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/article/404.htm</location>
    </error-page>
</web-app>